{% extends "base.html" %}

{% load static %}
{% load sass_tags %}

{% block title %}
Add Hotel
{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% sass_src 'toursite\index.scss' %}">
<link rel="stylesheet" href="{% sass_src 'toursite\add_services.scss' %}">

{% endblock css_files %}
{% block content %}
<div class="form-container">
    <h1 class="form-header">Додати готель</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            {{ form.hotel_name.label_tag }}
            {{ form.hotel_name }}
        </div>
        <div class="input-field">
            {{ form.city.label_tag }}
            {{ form.city }}
        </div>
        <div class="input-field">
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>
        <div class="input-field">
            {{ form.rating.label_tag }}
            {{ form.rating }}
        </div>
        <div class="input-field">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="input-field">
            {{ form.cost.label_tag }}
            {{ form.cost }}
        </div>
        <div class="input-field">
            {{ form.hotel_image.label_tag }}
            {{ form.hotel_image }}
        </div>
        <button type="submit" class="save-btn">Додати</button>
    </form>
</div>

{% endblock content %}
