{% load static %}

<li>
    <article class="selection">
        <div class = "selection_block">
            <img src="{% static 'toursite/images/' %}{{ hotel.hotel_image }}" alt="{{ hotel.hotel_name }}" class = "selection_photo">
            <div class='post__content'>
                <h3>{{ hotel.hotel_name }}</h3>
                <div class = 'selection_info'>
                    <h5>Рейтинг: {{hotel.rating}}</h5>
                    <h5>Адреса: {{hotel.address}}</h5>
                </div>
                <p>
                    {{ hotel.description|slice:":200" }}{% if hotel.description|length > 200 %}...{% endif %}
                </p>
                <h4>Ціна: {{hotel.cost}}/людину</h4>
                <a href="{% url 'hoteldetail' hotel.slug %}">
                    <button type="button">Переглянути</button>
                </a>            
            </div>
        </div>
    </article>
</li>
